<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>pl.java.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  
   <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>AddUserController</servlet-name>
  	<display-name>AddUserController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.AddUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>pl.java.test.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCarController</servlet-name>
  	<display-name>AddCarController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.AddCarController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectTypeOfCarController</servlet-name>
  	<display-name>SelectTypeOfCarController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.SelectTypeOfCarController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserrController</servlet-name>
  	<display-name>AddUserrController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.AddUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintCustomersController</servlet-name>
  	<display-name>PrintCustomersController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.PrintCustomersController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrinCarsController</servlet-name>
  	<display-name>PrinCarsController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.PrinCarsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCarController</servlet-name>
  	<display-name>DeleteCarController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.DeleteCarController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<display-name>DeleteCustomerController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyCarController</servlet-name>
  	<display-name>ModifyCarController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.ModifyCarController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomerController</servlet-name>
  	<display-name>UpdateCustomerController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.UpdateCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RentReturnController</servlet-name>
  	<display-name>RentReturnController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.RentReturnController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeController</servlet-name>
  	<display-name>HomeController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.HomeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InfoController</servlet-name>
  	<display-name>InfoController</display-name>
  	<description></description>
  	<servlet-class>pl.java.controllers.InfoController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddUserController</servlet-name>
  	<url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCarController</servlet-name>
  	<url-pattern>/AddCarController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectTypeOfCarController</servlet-name>
  	<url-pattern>/SelectTypeOfCarController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserrController</servlet-name>
  	<url-pattern>/AddUserrController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintCustomersController</servlet-name>
  	<url-pattern>/PrintCustomersController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrinCarsController</servlet-name>
  	<url-pattern>/PrinCarsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCarController</servlet-name>
  	<url-pattern>/DeleteCarController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyCarController</servlet-name>
  	<url-pattern>/ModifyCarController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomerController</servlet-name>
  	<url-pattern>/UpdateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RentReturnController</servlet-name>
  	<url-pattern>/RentReturnController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeController</servlet-name>
  	<url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InfoController</servlet-name>
  	<url-pattern>/InfoController</url-pattern>
  </servlet-mapping>
  
   <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login constraint</web-resource-name>
            <url-pattern>/select-type-of-car.jsp</url-pattern>
            <url-pattern>/addCar</url-pattern>
            <url-pattern>/printCars</url-pattern>
            <url-pattern>/addUser</url-pattern>
            <url-pattern>/addCustomer</url-pattern>
            <url-pattern>/rentReturnCar</url-pattern>
            <url-pattern>/new-user.jsp</url-pattern>
            <url-pattern>/new-light-commercial-car.jsp</url-pattern>
            <url-pattern>/new-customer.jsp</url-pattern>
            <url-pattern>/login-success.jsp</url-pattern>
            <url-pattern>/print-customers.jsp</url-pattern>
            <url-pattern>/printCustomers</url-pattern>
            <url-pattern>/logIn</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
  
   <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/hidden-views/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/hidden-views/login.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
